use strict;
use warnings;

use SPVM::Builder::Config;

my $config = SPVM::Builder::Config->new_cpp(file => __FILE__);

$config->add_ccflag('-DUNICODE');

my @libs = qw(
  gdi32
  d2d1
  Dwrite
  d3d11
  d3dcompiler
  dxgi
);

$config->add_lib(@libs);

{
  $config->use_resource("Resource::RE2");
  
  if ($^O eq 'MSWin32') {
    $config->add_static_lib('stdc++', 'winpthread', 'gcc');
  }
  else {
    $config->add_lib('stdc++');
  }
}

{
  $config->use_resource("Eg::CSS::Box::Resource");
}

$config;
