my $config_global = SPVM::Builder::Config::Exe->new;

my @libs = qw(
  gdi32
  stdc++
  d2d1
  Dwrite
  d3d11
  d3dcompiler
  dxgi
  ws2_32
);

$config_global->add_lib(@libs);

$config_global->compile_rule_any({'+defines' => 'UTF8PROC_STATIC'});

$config_global->use_resource("Resource::Utf8proc");

$config_global->use_resource("Resource::RE2");

$config_global->use_resource("Eg::CSS::Box::Resource");

$config_global->use_resource("Sys::Resource::Windows");

$config_global->use_resource('Resource::SocketUtil');

$config_global->add_ldflag('-static');

$config_global->build_type('Debug');

$config_global;
