my $config_global = SPVM::Builder::Config::Exe->new;

my @libs = qw(
  gdi32
  stdc++
  d2d1
  Dwrite
  d3d11
  d3dcompiler
  dxgi
);

$config_global->add_lib(@libs);

$config_global->add_ccflag('-DUTF8PROC_STATIC');

$config_global->use_resource("Resource::Utf8proc");

$config_global->use_resource("Resource::RE2");

$config_global->use_resource("Eg::CSS::Box::Resource");

$config_global->add_ldflag('-static');

$config_global;
